__pycache__/
cache/
.mypy_cache/
local_settings.py
instance/
.webassets-cache
env/
node_modules/
frontend/build
.env*.local

.DS_Store

# VS Code settings
.vscode/settings.json

# Model data
data-label-augmentation/

# Index files
backend/data/*.yml

# Database backup files
backend/docker/data/**/*.sql
backend/docker/data/**/*.ttl
backend/docker/data/**/*.jnl
backend/docker/data/**/*.7z


