@media only screen and (max-width: 599px) {
  .responsive-hide {
    display: none !important;
  }
  .responsive-search-bar {
    width: 40vw !important;
  }
}

/* Loading */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
}
.progress {
  height: 10px !important;
}

/* Search Box */
.form-control:focus {
  border-radius: 4px;
  border: 1px solid #2684FF !important;
  box-shadow: 0 0 0 1px #2684FF !important;
  outline: 0 !important;
}

/* Filter */
/* .filter-selected {
  cursor: pointer;
  background: #76a746 !important;
  border: 1px solid #76a746;
  color: white;
}
.filter-unselected {
  cursor: pointer;
  background: white;
  color: #76a746;
  border: 1px solid #76a746;
} */
/* #keywords::-webkit-scrollbar {
  height: 0px;
} */
/* #keywords::-webkit-scrollbar-thumb {
  background: #76a746;
} */

/* Datasets */
.card:hover {
  box-shadow: 0 .125rem .5rem rgba(0,0,0,.15)!important;
}
.card-header-text {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Preview */
.float-btn {
  position: absolute;
  cursor: pointer;
  width: 24px !important;
  height: 24px !important;
  color: rgba(0, 0, 0, 0.3);
}
#preview-close {
  top: 10px;
  left: 10px;
}
#preview-close:hover {
  color: rgba(255, 0, 0, 0.7);
}
#preview-open {
  top: 10px;
  right: 10px;
}
#preview-open:hover {
  color: rgba(0, 128, 255, 0.7);
}
#preview-table, #preview-scatter {
  top: 10px;
  right: 44px;
}
#preview-table:hover, #preview-scatter:hover {
  color: rgba(0, 128, 255, 0.7);
}