src_loader:
    class: loader.loader.KeywordLoader
tgt_loader:
    class: loader.mint_loader.MINT_CSV_Loader
    input_file: $WIKIDATA_CSV_PATH
src_pre_augmentation_filter:
    class: filters.wordlist_filter.WordListFilter
    min_weight: 0.1
    top_n: 10
tgt_pre_augmentation_filter:
    class: filters.wordlist_filter.Tfidf_Filter
    min_weight: 0.1
    top_n: 10
src_augmenter:
    class: augmenter.augmenter.W2V_Augmenter
tgt_augmenter:
    class: augmenter.augmenter.W2V_Augmenter
src_post_augmentation_filter:
    class: filters.wordlist_filter.Freq_Filter
    min_weight: 0.1
    top_n: 10
tgt_post_augmentation_filter:
    class: filters.wordlist_filter.Tfidf_Filter
    min_weight: 0.1
    top_n: 10
aligner:
   class: aligner.aligner.Weighted_JS_Matching
   top_k_ontologies: 10
optional:
    performance_evaluator:
        class: performance_evaluator.Mean_Reciprocal_Rank
        precision_k: 1
