.displayResult{
    /* display: inline-flex; */
    white-space: normal;
    margin-top: 10px;
}

.checkbox{
    margin-top:6px
}

.responsive-search-bar{
    min-width: '50px';
    width: '30vw';
    max-width: 'auto';
}

.col-4{
    display:'inline-flex';
}