.tree,
.tree ul {
    margin: 0 0 0 1em;
    /* indentation */
    padding: 0;
    list-style: none;
    color: #369;
    position: relative;
}

.tree ul {
    margin-left: .5em
}

.tree:before,
.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.tree li {
    margin: 0;
    padding: 0 1.5em;
    line-height: 2em;
    font-weight: bold;
    position: relative;
}

.tree li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0;
}

.tree li:last-child:before {
    background: white;
    height: auto;
    top: 1em;
    bottom: 0;
}

.region-tree {
    margin-top: 95px;
    height: 400px;
    overflow-y: auto;
    width: auto;
    margin-left: -10px!important;
}