.checkbox{
    margin-top:6px
}
.modal-dialog {
    width: auto;
    overflow: 'auto'; 
    height: '100%';
}
.selection-body{
    height: 750px;
    overflow-y: auto;
    width: auto;
}
.button {
    margin: 5px;;
}
.checkboxes {
    display: 'inline-flex';
}

.query{
    border-bottom: black 1px;
}