.shadow{
    height: 80px;
    border-bottom: 1px solid #006699;
    z-index: 1000;
}

.responsive-hide{
    font-size: x-large;
    font-weight: bold;
    font-family: Roboto Slab, serif;
    cursor: default;
    margin-top: -40px;
}